@import "tailwindcss";

:root {
  --color-bg-sage: #8c9c86;
  --color-text-cream: #fff6e5;
  --color-accent-brown: #634d3d;
  --color-ring-cream: #e5d9c4;
}
body {
  background-color: #8c9c86;
}
h1{
  font-weight: bold;
}
p{
  font-weight: bold;
}
